.nav-bar{
    height: 50px;
    width: 100%;
    background-color: rgb(255, 174, 0);

    div.header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headerstyle{
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 0px !important;
            line-height : 1.6 !important;
        }
        .img-logo{
            width: auto;
            height: 50px;
        }

        .logoutbutton{
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
}
.addleave-section{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 2;
}
.addleave{
    background-color :#023b1f;
    //background-image :linear-gradient(315deg, #b5fff2 0%, #75efa4 74%);
    //background-image :linear-gradient(315deg, #85fea1 0%, #023b1f 74%);
    font-size: 1.8rem;
}

.body{
    width: 100%;
    // height: 690px;
    // background-color: lightgrey;
}

mat-sidenav-container {
    height: 100%;
  
    mat-sidenav{

      mat-nav-list {
        .menu-item {
          margin-left: 8px;
        }
  
        .chevron-button {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
        }
  
        .chevron-button.rotated {
          transform: rotate(180deg);
        }
      }
    }

    mat-sidenav.expanded{
        display: flex;
        align-items: center;
        justify-content: center;
        width:200px;
    }
  }