.admin-header{
  background-color: rgb(255, 174, 0);
}
.user-header{
  background-color: #89d8d3 !important;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%) !important;
}
.addleave-section{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 2;
}
.addleave{
    background-color :#023b1f;
    //background-image :linear-gradient(315deg, #b5fff2 0%, #75efa4 74%);
    //background-image :linear-gradient(315deg, #85fea1 0%, #023b1f 74%);
    font-size: 1.8rem;
}

.search-section{
  padding: 10px 20px 0px 20px;

  .mat-form-field{
    width: 100%;
  }
}
.my-select-panel-class{
  background-color: #03c8a8 !important;
}

.body{
    width: 100%;
    // height: 690px;
    // background-color: lightgrey;
}

mat-sidenav-container {
    height: 100%;
  
    mat-sidenav{

      mat-nav-list {
        .menu-item {
          margin-left: 8px;
        }
  
        .chevron-button {
          transition: 300ms ease-in-out;
          transform: rotate(0deg);
        }
  
        .chevron-button.rotated {
          transform: rotate(180deg);
        }
      }
    }

    mat-sidenav.expanded{
        display: flex;
        align-items: center;
        justify-content: center;
        width:200px;
    }
  }