<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded" [ngClass]="{expanded: isExpanded}">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'dashboard'" (click)="showCalendar()">
        <mat-icon mat-list-icon>calendar_today</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Dashboard</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'profile'" (click)="showProfile()">
        <mat-icon mat-list-icon>person</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Profile</span>
      </mat-list-item>

      <mat-list-item *ngIf="adminMode && !userMode" (click)="showStaff()">
        <mat-icon mat-list-icon>supervisor_account</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Staff</span>
      </mat-list-item>

      <mat-list-item *ngIf="adminMode && !userMode" (click)="showHoliday()">
        <mat-icon mat-list-icon>event</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Holiday</span>
      </mat-list-item>

      <mat-list-item *ngIf="adminMode && !userMode" (click)="showTeam()">
        <mat-icon mat-list-icon>group_add</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Team</span>
      </mat-list-item>

      <mat-list-item *ngIf="adminMode && !userMode" (click)="showPosition()">
        <mat-icon mat-list-icon>ac_unit</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Position</span>
      </mat-list-item>

      <mat-list-item *ngIf="adminMode && !userMode" (click)="showRole()">
        <mat-icon mat-list-icon>layers</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Role</span>
      </mat-list-item>

      <mat-list-item *ngIf="adminMode && !userMode" (click)="showLeaveType()">
        <mat-icon mat-list-icon>filter_none</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Leave Type</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
      <header class="py-2 mb-1 border-bottom" [ngClass]="adminMode == true ? 'admin-header' : 'user-header'">
        <div class="container-fluidalign-items-center">
          <div class="row">
            <div class="col-4">
                <a href="#" class="d-flex align-items-center text-decoration-none">
                  <img src="assets/images/lms.png" class="img-logo" alt="lms" width="70">
                </a>
            </div>
            <div class="col-8 pe-4">
              <div class="d-flex align-items-center justify-content-end">
                <div class="flex-shrink-0 dropdown">
                  <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img *ngIf="adminMode" src="assets/images/admin.jpg" alt="lms" class="rounded-circle" width="32" height="32">
                    <img *ngIf="userMode"  src="assets/images/user.jpg" alt="lms" class="rounded-circle" width="32" height="32">
                    {{ authUserName }}
                  </a>
                  <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li>
                      <a *ngIf="!authUserName" class="dropdown-item" (click)="showProfile()"><span class="pe-2"><i class="fa fa-user" aria-hidden="true"></i></span>Profile</a>
                      <a *ngIf="authUserName" class="dropdown-item" (click)="showProfile()"><span class="pe-2"><i class="fa fa-user" aria-hidden="true"></i></span>{{ authUserName | uppercase }}</a>
                    </li>
                    <li><a class="dropdown-item" href="#"><span class="pe-2"><i class="fa fa-cogs" aria-hidden="true"></i></span>Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="lockOut()"><span class="pe-2"><i class="fa fa-sign-out" aria-hidden="true"></i></span>Sign out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="body">
        <section class="addleave-section" *ngIf="showComponent == 'calendar'">
          <div class="example-button-row">
            <div class="example-flex-container">
              <div class="example-button-container">
                <button  class="addleave" (click)="applyLeave()" mat-fab aria-label="Apply The Leave">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </section>

        <div *ngIf="adminMode && showComponent == 'calendar'" class="row search-section">
          <div class="col-sm-6">
            <form>
              <mat-form-field appearance="fill">
                <mat-label>select staff</mat-label>
                <select matNativeControl [(ngModel)]="selectedStaff" name="staff">
                  <option value="0" [selected]="selectedStaff === 0"></option>
                  <option [value]="-1" [selected]="selectedStaff === -1" (click)="getUserId(-1)">All Staff</option>
                  <option *ngFor="let user of users" [value]="user.id" [selected]="selectedStaff === user.id" (click)="getUserId(user.id)">
                    {{user.id}}{{'-'}}{{user.fullName}}
                  </option>
                </select>
              </mat-form-field>
            </form>            
          </div>
          <div class="col-sm-6">
            <form>
              <mat-form-field appearance="fill">
                <mat-label>select team</mat-label>
                <select matNativeControl [(ngModel)]="selectedTeam" name="team">
                  <option value="0" [selected]="selectedTeam === 0"></option>
                  <option [value]="-1" [selected]="selectedTeam === -1" (click)="getLeaveByTeamId(-1)">All Team</option>
                  <option *ngFor="let team of teams" [value]="team.id" [selected]="selectedTeam === team.id" (click)="getLeaveByTeamId(team.id)">
                    {{team.id}}{{'-'}}{{team.teamName}}
                  </option>
                </select>
              </mat-form-field>
            </form>            
          </div>
        </div>

        <div *ngIf="showComponent == 'calendar'">
          <lms-calendar-month-view
          [todayDate]="date"
          [orderOfWorkWeekDays]="orderOfWorkWeekDays"
          [holidays] = "holidays"
          [leaveRequests] = "leaveRequests"
          [users] = "users"
          [noOfEventsShowInWeek] = "noOfEventsShowInWeek"></lms-calendar-month-view>
        </div>

        <div *ngIf="showComponent == 'profile'">
          <lms-user-profile [user]="user" [authUserRole]="authUserRole"></lms-user-profile>
        </div>

        <div *ngIf="showComponent == 'staff'">
          <lms-staff [authUserRole]="authUserRole"></lms-staff>
        </div>

        <div *ngIf="showComponent == 'holiday'">
          <lms-holiday></lms-holiday>
        </div>

        <div *ngIf="showComponent == 'team'">
          <lms-team></lms-team>
        </div>

        <div *ngIf="showComponent == 'position'">
          <lms-staff-position></lms-staff-position>
        </div>

        <div *ngIf="showComponent == 'role'">
          <lms-role></lms-role>
        </div>

        <div *ngIf="showComponent == 'leavetype'">
          <lms-leavetype></lms-leavetype>
        </div>

      </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- <div class="nav-bar">
  <div class="header">
    <div class="headerstyle">
      <p>Nav Bar</p>
    </div>
    <div class="headerstyle">
      <button type="button" class="logoutbutton" (click)="lockOut()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

<div class="body">
  <section class="addleave-section">
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button  class="addleave" (click)="applyLeave()" mat-fab aria-label="Apply The Leave">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <lms-calendar-month-view
    [todayDate]="date"
    [orderOfWorkWeekDays]="orderOfWorkWeekDays"
    [holidays] = "holidays"
    [leaveRequests] = "leaveRequests"
    [users] = "users"
    [noOfEventsShowInWeek] = "noOfEventsShowInWeek"></lms-calendar-month-view>
</div> -->
