.calendar{
    padding: 20px;
}
.bgcolor-primary{
    background-color: dodgerblue;
}

.header-title-bar{
    display: flex;
    justify-content: center;
    align-items: center;

    .header-title-bar-item{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    };

    .month-title
    {
        width: 210px;
        font-size: 1.3rem;
        font-weight: 700;
        padding: 0px 20px;
    }

    a.next-button
    {
        font-size: 1.5rem;
        font-weight: 900;
        color: darkorange;
    }
}

.calendar-columns{
    display: flex;
}

.calendar-columns > *{
    flex-basis: 100%;
}

.calendar-columns div:nth-of-type(1){
    border-left: 2px rgb(225, 225, 225) solid;
}

.header-cell{
    border-right: 2px rgb(225, 225, 225) solid;
    border-top: 2px rgb(225, 225, 225) solid;
    border-bottom: 2px rgb(225, 225, 225) solid;
    background-color: #f8f9fa;
    padding: 10px;
    //min-width: 140px;
}

p.headerfont{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0px !important;
}

.cell{
    height: 130px;
    background-color: #f8f9fa;
    position: relative;
    border-right: 2px rgb(225, 225, 225) solid;
    border-bottom: 2px rgb(225, 225, 225) solid;
    //min-width: 140px;
}

// lms-calendar-month-cell#calendar-cell div#cell.cell:nth-of-type(1){
//     border-left: 2px rgb(225, 225, 225) solid;
// }

.date{
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 15px;
    font-size: 1.2rem;
}
.todaydate{
    position: absolute;
    top: 15px;
    left: 10px;
    line-height: 15px;
    font-size: 2rem;
}

.holiday{
    //background-color: darkturquoise;
    width: 88%;
    position: absolute;
    top: 9px;
    left: 35px;
    line-height: 17px;
    font-size: 0.8rem;
    padding-right: 5px;
    text-align: right;
}

.leave{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    line-height: 10px;

    .more{
        height: 14px;
        line-height: 0px;
        width: 100%;
        font-size: 0.7rem;
        border-radius: 0 !important;
        padding-left: 4px;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;

        .icon{
            margin-left: 5px;
        }
    }
    .leave-inner{
        background-color:lightblue;
        line-height: 17px;
        font-size: 0.5rem;
        margin-top: 2px;
        border-radius: 5px;
        padding-left: 5px;
    }
}

.calendar-event{
    position: absolute;
    z-index: 1;
    //bottom: 0px;
    //left: 0px;
    .calendar-event-row{
        position: relative;
        left: 1px;
        display: flex;
        flex-direction:column-reverse;

        .event-row{
            display: flex;

            .event-inner{
                background-color:lightblue;
                position: relative;
                //left: 1px;
                line-height: 17px;
                font-size: 0.75rem;
                margin-top: 2px;
                border-radius: 5px;
                padding-left: 5px;
                max-height: 17px;
                overflow: auto;
                display: flex;
            }
        }
    }
}