
.icon{
    font-size: 3rem;
}
.header-user{
    line-height: 0px !important;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 700;
}
.subheader-user{
    color: #646464;
}

.listview{
    background-color: #023b1f;
    color: #fff;
}

.editview{
    background-color: #023b1f;
    color: #fff;
}

.btn-toggle{
    display: flex;
    justify-content: center;
    align-items: center;
}