<!-- <h1 mat-dialog-title class="text-center">{{ event.rowEvent?.reason }}</h1> -->
<div mat-dialog-content>
    <div class="row">
        <div class="col-12 d-flex">
            <div class="icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
            <div class="ps-3 pt-2">
                <h3 class="header-user">{{ event.rowEventUser?.id }}{{' - '}}{{ event.rowEventUser?.fullName }}</h3>
                <p class="subheader-user">Staff</p>
            </div>
        </div>
        <div class="col-4 text-start">ID :</div>
        <div class="col-8 text-end">{{ event.rowEvent?.id }}</div>
        <div class="col-4 text-start">Reason :</div>
        <div class="col-8 text-end">{{ event.rowEvent?.reason }}</div>
        <div class="col-8 text-start">Startdate :</div>
        <div class="col-4 text-end">{{ event.rowEvent?.startDate | date:'mediumDate' }}</div>
        <div class="col-8 text-start">Enddate :</div>
        <div class="col-4 text-end">{{ event.rowEvent?.endDate | date:'mediumDate' }}</div>
        <div *ngIf="event.rowEvent?.timeOfLeaveday != null" class="col-8 text-start">Period :</div>
        <div *ngIf="event.rowEvent?.timeOfLeaveday != null" class="col-4 text-end">{{ event.rowEvent?.timeOfLeaveday}}</div>
        <div *ngIf="event.rowEvent?.isAdminApproved != null" class="col-8 text-start">Is approved by admin?</div>
        <div *ngIf="event.rowEvent?.isAdminApproved == true" class="col-4 text-end">Yes</div>
        <div *ngIf="event.rowEvent?.isAdminApproved == false" class="col-4 text-end">No</div>
        <div *ngIf="event.rowEvent?.isSuperAdminApproved != null" class="col-8 text-start">Is approved by superadmin?</div>
        <div *ngIf="event.rowEvent?.isSuperAdminApproved == true" class="col-4 text-end">Yes</div>
        <div *ngIf="event.rowEvent?.isSuperAdminApproved == false" class="col-4 text-end">No</div>
        <div *ngIf="event.rowEvent?.resPersionId != null" class="col-8 text-start">Who is coverd this leave?</div>
        <div *ngIf="event.rowEvent?.resPersionId != null" class="col-4 text-end">{{ event.rowEventResponsiblePerson?.fullName}}</div>
        <div class="col-12 py-3 d-flex justify-content-end">
            <button type="button" class="btn btn-danger" (click)="deleteEvent(event.rowEvent?.id)">Delete</button>
            <button class="ms-2 btn btn-success" mat-dialog-close (click)="onCancel()">Close</button>
        </div>
    </div>
  </div>
  <!-- <mat-dialog-actions align="end">
      <button class="btn btn-success" mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions> -->