<div class="calendar">
    <!-- <div class="row">
        <div *ngFor="let holiday of monthHoliday">
          <span>{{ holiday.date | date:'full'}}</span>
          <span>{{holiday.description}}</span>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let request of monthLeaveRequest">
            <span>{{request.startDate}}</span>
            <span>{{' - ' + request.reason + ' - '}}</span>
            <span>{{request.endDate}}</span>
        </div>
    </div> -->
    <lms-calendar-month-view-header 
        [orderOfWorkWeekDays]="orderOfWorkWeekDays"
        [(date)]="todayDate"
        (monthChange)="receiveMonth($event)"
        (yearChange)="receiveYear($event)"
    ></lms-calendar-month-view-header>
    <div class="row">
        <div *ngFor="let rowIndex of view.rowoffsets" class="col-lg-12">
            <div class="calendar-columns" id="columns">
                <div *ngFor='let day of view.days | slice: rowIndex:rowIndex + this.view.totalDaysVisibleInWeek'>
                    <lms-calendar-month-cell id="calendar-cell"
                        [orderOfWorkWeekDays] = "orderOfWorkWeekDays"
                        [day]="day" 
                        [dayHoliday] = "dayHoliday(day)"
                        [dayLeaveRequest] = "dayLeaveRequest(day)"
                        [rowEvent] = "getWeekLeaveRequest(rowIndex)"></lms-calendar-month-cell>
                </div>
            </div>
            <div class="calendar-event">
                <div class="event-row" id="event" *ngFor="let rowEvent of getEventByRowIndex(getWeekLeaveRequest(rowIndex))" [ngStyle]="{'bottom' : getMoveByPixel(getEventByRowIndex(getWeekLeaveRequest(rowIndex))) + 'px' }">
                    <div *ngFor="let event of rowEvent" class="event-inner" [ngStyle]="{'width' : getlength(event.rowEventWidth) + 'px' }" [style.background-color]="event.rowEvent?.bgcolor">
                        {{ event.rowEvent?.userId }}{{' - '}}{{ event.rowEvent?.reason }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
