.mat-form-field{
    width: 100%;
}

.example-form-field {
    margin-right: 20px;
  }

.mat-dialog-header{
    color: #fff;
    background-color :#023b1f;
    //background-image :linear-gradient(315deg, #b5fff2 0%, #75efa4 74%);
    //background-image :linear-gradient(315deg, #85fea1 0%, # 74%);
}
.mat-dialog-content{
    margin: 0 0px;
}

.form-check {
    display: block;
    min-height: 2rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    font-size: 1rem;
    font-weight: 700;
  }

  .form-check-input:checked {
    background-color: #023b1f;
    border-color: #023b1f;
  }

.error{
    color: red;
}