.nav-bar{
    height: 40px;
    width: 100%;
    background-color: #89d8d3 !important;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%) !important;

    div.header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headerstyle{
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 0px !important;
            line-height : 1.6 !important;
        }

        .logoutbutton{
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
}
.addleave-section{
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 2;
}
.addleave{
    background-color :#023b1f;
    font-size: 1.8rem;
}

.body{
    width: 100%;
}