<div class="cell" id="cell">
    <div class="date" [ngStyle]="{'color': isThisMonth === true ? '#000' : 'rgb(177, 177, 177)'}">
        {{date}}
    </div>
    <div class="holiday" *ngIf="dayHolidayLength != 0">
        <div *ngFor="let holiday of dayHoliday">
            {{holiday.description}}
        </div>
    </div>
    <!-- <div class="leave" *ngIf = "dayRowEvent(cellDay) != null" [style.bottom.px]="getPositionFromBottom(cellDay)">
        <div class="leave-inner" *ngFor="let event of dayRowEvent(cellDay)" [ngStyle]="{'width' : getlength(event.rowEventWidth) + 'px' }" [style.background-color]="event.rowEvent?.bgcolor">
            {{ event.rowEvent?.userId }}{{' - '}}{{ event.rowEvent?.reason }}
        </div>
    </div> -->
</div>